.cataloges .cat-header {
    color: rgb(107, 0, 230);
    text-transform: uppercase;
    justify-content: center;
    padding-top: 25px;
    display: flex;
}

.cataloges .catog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5.5rem, 0));
    justify-content: space-between;
    padding-bottom: 20px;
    align-content: center;
    justify-content: center;
}

.cataloges .catog button {
    text-transform: capitalize;
    background: transparent;
    text-align: center;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: #000;
    border: none;
    cursor: pointer;
}

.cataloges .catog button:hover {
    color: blue;
}

.cataloges .card-body h2 {
    color: rgb(5, 47, 213);
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
}

.cataloges .card-body h3 {
    color: rgb(132, 0, 255);
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
}

.cataloges .card-body p {
    color: #000;
    padding-top: 20px;
    font-size: 15px;
}

.cataloges .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 0));
    gap: 1px;
    padding: 10px;
}

.cataloges .cards .card-body {
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: .5s;
}

.cataloges .cards .card-body:hover {
    transform: perspective(2000px) rotate(-5deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5), 0 20px 100px rgba(0, 0, 0, 0.5);

}

.cataloges .container {
    padding: 1em 0;
    float: left;
    width: 50%;
    margin-left: 50px;
}

.cataloges .cards .card-body .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
    text-align: center;
}

@media screen and (max-width: 640px) {
    .cataloges .container {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .cataloges .container {
        width: 33.333%;
    }
}

.cataloges .card-body {
    width: 250px;
    height: 350px;
}

.cataloges .card-body::before {
    content: ' ';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #645050;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.cataloges .card-body::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #645050;
    transform-origin: left;
    transform: skewY(-45deg);
}

.cataloges .card-img {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
}

.cataloges .card-body:hover .card-img {
    transform: rotateY(-135deg);
}

.cataloges .btn1 {
    background: transparent;
    font-size: 20px;
    border: 0;
}

.cataloges .btn1:hover {
    color: red;
    cursor: pointer;
}

.cataloges #icon {
    margin-right: 10px;
}

@media screen and (max-width:1040px) {

    .cataloges .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1px));
        gap: 2rem;
    }

    .cataloges .card-body {
        width: 155px;
        height: 100%;
        background: #fff;
    }

    .cataloges .card-img {
        width: 100%;
        height: 100%;
        border: 2px solid #999;
    }

    .cataloges .card-body h2 {
        font-size: 12px;
    }

    .cataloges .card-body h3 {
        font-size: 10px;
    }

    .cataloges .card-body p {
        font-size: 10px;
        overflow: hidden;
    }

    .cataloges .btn1 {
        font-size: 10px;
        width: 100px;
    }
}

@media screen and (max-width:550px) {
    .cataloges {
        height: 2200px;
    }

    .cataloges .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1px));
        gap: 2rem;
        width: auto;
    }

    .cataloges .container {
        margin-left: 15px;
    }

    .cataloges .cat-header {
        display: none;
    }

    .searchinput {
        float: none;
        margin-left: 25px;
    }
}