 .cat-header {
    color: rgb(107, 0, 230);
    text-transform: uppercase;
    justify-content: center;
    padding-top: 25px;
    display: flex;
}

 .catog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5.5rem, 0));
    justify-content: space-between;
    padding-bottom: 20px;
    align-content: center;
    justify-content: center;
}

 .catog button {
    text-transform: capitalize;
    background: transparent;
    text-align: center;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', sans-serif;
    color: #000;
    border: none;
    cursor: pointer;
}

 .catog button:hover {
    color: blue;
}

 .card-body h2 {
    color: rgb(5, 47, 213);
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
}

 .card-body h3 {
    color: rgb(132, 0, 255);
    width: 100%;
    font-size: 15px;
    text-transform: uppercase;
}

 .card-body p {
    color: #000;
    padding-top: 20px;
    font-size: 15px;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(17.5rem, 0));
    gap: 1px;
    padding: 10px;
}

.cards .card-body {
    transform-style: preserve-3d;
    transform: perspective(2000px);
    transition: .5s;
}

.cards .card-body:hover {
    transform: perspective(2000px) rotate(-5deg);
    box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5), 0 20px 100px rgba(0, 0, 0, 0.5);

}

.container {
    padding: 1em 0;
    float: left;
    width: 50%;
    margin-left: 50px;
}

.cards .card-body .details {
    position: absolute;
    top: 0;
    left: 0;
    box-sizing: border-box;
    padding: 20px;
    z-index: -1;
    text-align: center;
}

.search{
    margin: 25px 0 0 40%;
}

.searchbar input{
    width: 250px;
    height: 30px;
    padding-left: 5px;
    border-radius: 5px;
}

.icon{
    font-size: 30px;
    position: absolute;
    right: 30%;
    top: 30px;
}

@media screen and (max-width: 640px) {
    .container {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 900px) {
    .container {
        width: 33.333%;
    }
}

.card-body {
    width: 250px;
    height: 350px;
}

.card-body::before {
    content: ' ';
    position: absolute;
    top: -5px;
    left: 0;
    width: 100%;
    height: 5px;
    background: #645050;
    transform-origin: bottom;
    transform: skewX(-45deg);
}

.card-body::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: -5px;
    width: 5px;
    height: 100%;
    background: #645050;
    transform-origin: left;
    transform: skewY(-45deg);
}

.card-img {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: left;
    transition: 1s;
}

.card-body:hover .card-img {
    transform: rotateY(-135deg);
}

.btn1 {
    background: transparent;
    font-size: 20px;
    border: 0;
}

 .btn1:hover {
    color: red;
    cursor: pointer;
}

 #icon {
    margin-right: 10px;
}


@media screen and (max-width:1040px) {

     .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(9rem, 1px));
        gap: 2rem;
    }

     .card-body {
        width: 155px;
        height: 100%;
        background: #fff;
    }

     .card-img {
        width: 100%;
        height: 100%;
        border: 2px solid #999;
    }

     .card-body h2 {
        font-size: 12px;
    }

     .card-body h3 {
        font-size: 10px;
    }

     .card-body p {
        font-size: 10px;
        overflow: hidden;
    }

     .btn1 {
        font-size: 10px;
        width: 100px;
    }
}

@media screen and (max-width:550px) {
     .catologes {
        height: 2200px;
    }

     .cards {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10rem, 1px));
        gap: 2rem;
    }

     .container {
        margin-left: 15px;
    }

    .icon {
        float: none;
        right: 15%;
    }
}