@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@1&display=swap');

.intro{
    width: 90%;
    height: 90vh;
    margin: 2%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    background-color: #000;
    opacity: 0.5;
}

.hero{
    height: 100%;
    width: 100%;
    background-color: #000;
}
.content{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Baskervville', serif;
}
.content h2{
    color: #fff;
    font-size: 150px;
    font-family: 'Style Script', cursive;
}
.content{
    font-size: 4rem;
    padding: 0.6rem 0 1.5rem;
}
.content .btn{
    margin: 1rem 0.2rem;
}
.content p{
    color: #fff;
}

.btn{
    width: 250px;
    color: #F5F3C1;
    background: #2F0F5D;
    /* color: #000;
    background: rgb(242, 255, 0); */
    cursor: pointer;
    border-radius: 25px;
}
.btn:hover{
    background-color: #B0DAFF;
    color: #000;
}

.box{
    width: 450px;
    height: 97%;
    background: transparent;
    position: absolute;
    right: 0;
    margin-right: 150px;
    margin-top: 10px;
    transform: skew(17deg);
    box-shadow: 1px 5px 90px #f4aab9;
    padding: 1em;
    border: 2px solid #fff;
}

.box2{
    width: 100px;
    height: 50%;
    background: transparent;
    position: absolute;
    right: 0;
    margin-right: 60px;
    margin-top: 90px;
    transform: skew(17deg);
    box-shadow: 1px 5px 90px #f4aab9;
    padding: 1em;
    border: 2px solid #fff;
}
.box3{
    width: 100px;
    height: 30%;
    background: transparent;
    position: absolute;
    right: 0;
    margin-right: 36%;
    margin-top: 30%;
    transform: skew(17deg);
    box-shadow: 1px 5px 90px #f4aab9;
    padding: 1em;
    border: 2px solid #fff;
}
.bubble{
    width: 200px;
    height: 200px;
    background: transparent;
    position: absolute;
    border-radius: 50%;
    margin-left: 10%;
    margin-top: 10%;
    box-shadow: 1px 5px 90px #f4aab9;
    padding: 1em;
    border: 2px solid #fff;
}
.bubble2{
    width: 150px;
    height: 150px;
    background: transparent;
    position: absolute;
    border-radius: 50%;
    margin-left: 5%;
    margin-top: 25%;
    box-shadow: 1px 5px 90px #f4aab9;
    padding: 1em;
    border: 2px solid #fff;
}
.bubble3{
    width: 100px;
    height: 100px;
    background: transparent;
    position: absolute;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 25%;
    box-shadow: 1px 5px 90px #f4aab9;
    padding: 1em;
    border: 2px solid #fff;
}
.bubble4{
    width: 50px;
    height: 50px;
    background: transparent;
    position: absolute;
    border-radius: 50%;
    margin-left: 20%;
    margin-top: 4%;
    box-shadow: 1px 5px 90px #f4aab9;
    padding: 1em;
    border: 2px solid #fff;
}

@media screen and (max-width:1040px) {
    .intro{
        width: 95%;
        height: 95vh;
    }
    .content{
        font-size: 3.5rem;
    }
    .box{
        display: none;
    }
    .box2{
        display: none;
    }
    .box3{
        display: none;
    }
    .bubble{
        display: none;
    }
    .bubble2{
        display: none;
    }
    .bubble3{
        display: none;
    }
    .bubble4{
        display: none;
    }
}

@media screen and (max-width:550px) {
    .content h2{
        font-size: 80px;
    }
    .intro{
        height: 100vh;
    }
}