@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tiro+Tamil:ital@0;1&display=swap');

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    height: 90px;
    z-index: 10;
}
/* .header-bg{
    
} */
.header h1{
    /* font-family: 'Bona Nova', serif; */
    padding-left: 10px;
    font-size: 45px;
    text-transform: capitalize;
    color: aliceblue;
}
.nav-menu{
    display: flex;
}
.nav-menu li{
    padding: 0 1rem;
}
.nav-menu li a{
    font-size: 15px;
    font-weight: 500;
    color: beige;
}
.hamburger{
    display: none;
}

@media screen and (max-width: 1040px) {
    .header h1{
        font-size: 25px;
    }
    .nav-menu{
        flex-direction: column;
        justify-content: center;
        align-items: start;
        width: 55%;
        height: 100vh;
        background: rgba(43, 43, 43, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        padding-left: 20px;
        z-index: -3;
        transition: 0.3s;
    }
    .nav-menu.active{
        left: 0;
        cursor: pointer;
    }
    .nav-menu li{
        padding: 1rem;
    }
    .nav-menu li a{
        font-size: 1.5rem;
        color: aqua;
    }
    .hamburger{
        display: initial;
        cursor: pointer;
        margin-left: 30px;
    }
}